INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
depcomp
version.xml
gtk-doc.make
install-sh
libgdaex.pc
libtool
ltmain.sh
m4/
missing
src/.deps/
stamp-h1
*.stamp
docs/reference/html/
docs/reference/xml/
src/.libs/
*.lo
*.o
*.la
*.bak
libgdaex*tar*
